.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Obsidian plugin
obsidian-plugin/node_modules/
obsidian-plugin/main.js
obsidian-plugin/main.js.map
